<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">TecAirlines</a>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-CrearMaletas">
          <a class="nav-link active" aria-current="page" href="/maletas">Crear maletas</a>
        </li>

        <li class="nav-BagCart">
          <a class="nav-link active" aria-current="page" href="/BagCart">Asignar BagCart</a>
        </li>

        <li class="nav-Reportes">
          <a class="nav-link active" aria-current="page" href="/reportes">ReportesPDF</a>
        </li>

        <li class="nav-información">
          <a class="nav-link active" aria-current="page" href="/informacion">Ver información</a>
        </li>

        <li class="nav-home">
          <a class="nav-link active" aria-current="page" href="/registro">Registro de trabajador</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
