div.container-fluid {
  background-color: rgb(233, 224, 210);
  box-shadow: black;
  padding: 16px;
  border: 1 px solid,black;
  min-height: 590px;
}
input{
  background-color: rgb(255, 255, 255);
  width: 30%;
  font-size: small;
  text-align: center;
}
label{
  color: rgb(0, 0, 0);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 10px;
  font-size: larger;
  
}
button{
  background-color: rgb(160, 151, 32);
  color:white;
  border-radius: 12px;
}
select{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 30%;
  text-align: center;
}