<app-header></app-header>
<div class="container-fluid" align = "center">
  <div class="mb-Usuario">
    <label for="exampleInputEmail1" class="form-label">Número de Vuelo</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="mb-Color">
    <label for="exampleInputPassword1" class="form-label">Identificador del BagCart</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
 <p>

  
 </p>

  <button type="submit" class="btn btn-primary">Añadir</button>
</div>
<app-footer></app-footer>
