<app-header></app-header>
<form name="form" (ngSubmit)="f.form.valid && sendTrabajador()" #f="ngForm" novalidate class="sign-up-form">
  <div class="form-group">
    <div class="container-fluid" align = "center">
  <div class="mb-Trabajador">
    <label for="Nombre" class="form-label">Nombre</label>
    <input type="text"
           class="form-control"
           id="name"
           name = "name"
           placeholder="Ej: Aldo, Daniela, Gabriel, Oscar"
           [(ngModel)]="nuevoTrabajador.Nombre"
           #name = "ngModel"
           [ngClass]="{'is-invalid':f.submitted && name.invalid}"
           required
           />
  </div>

  <div class="mb-Apellido">
    <label for="Apellido" class="form-label">Apellido</label>
    <input type="text"
           class="form-control"
           id="Apellido"
           name = "Apellido"
           placeholder="Ej: Cambronero, Brenes, González, Méndez"
           [(ngModel)]="nuevoTrabajador.Apellido"
           #Apellido = "ngModel"
           [ngClass]="{'is-invalid':f.submitted && name.invalid}"
           required/>
  </div>

  <div class="mb-Cedula">
    <label for="Cedula" class="form-label">Cédula</label>
    <input type="number"
           class="form-control"
           id="Cedula"
           name = "Cedula"
           [(ngModel)]="nuevoTrabajador.Cedula"
           #Cedula = "ngModel"
           [ngClass]="{'is-invalid':f.submitted && name.invalid}"
           required/>
  </div>

  <div class="mb-Contrasena">
    <label for="Contrasena" class="form-label">Contraseña</label>
    <input class="form-control"
           type="password"
           name="Contrasena"
           id="Contrasena"
           name = "Contrasena"
           placeholder="Escriba su contraseña"
           [(ngModel)]="nuevoTrabajador.contrasena"
           #Contrasena = "ngModel"
           [ngClass]="{'is-invalid':f.submitted && name.invalid}"
           required/>
  </div>

  <div class="mb-Rol">
    <label for="Rol" class="form-label">Rol</label>

    <select class="form-control"
            name="Rol"
            id="Rol"
            [(ngModel)]="nuevoTrabajador.rol"
            #Rol = "ngModel"
            [ngClass]="{'is-invalid':f.submitted && name.invalid}"
            required>

      <option value="Embarcador">Embarcador</option>

      <option value="Scan">Scan</option>

      <option value="Administrador">Administrador</option>

      <option value="Recepcionista">Recepcionista</option>

      </select>
  </div>

  <p>


  </p>

  <button type="submit" class="button">Registrar</button>

    </div>
  </div>
</form>
<app-footer></app-footer>
