<app-header></app-header>
<div>
  <p style="color: rgb(224, 192, 141)">
   a 
  </p>
  <p>
    a
  </p>
</div>
<div class="container" id="content" #content>
  <h1 style="padding:12px;background-color:rgb(255, 255, 255)">Registro de maletas</h1>
  <p></p>
  <p></p>
  <p></p>
  <h3>Maletas de TecAirlines:</h3>
  <div style=padding:12px;background-color:white;line-height:1.4;>
    <li *ngFor="let reporte of maletas">

      <ul>Número de maleta:  {{reporte.numero_maleta}}</ul>
      <ul>Cedula Usuario: {{reporte.cedulaUsuario}}</ul>
      <ul>ID BagCart: {{reporte.bagcartId}}</ul>
      <ul>Peso: {{reporte.peso}}</ul>
      <ul>Color: {{reporte.color}}</ul>
      <ul>Aceptada: {{reporte.aceptada}}</ul>
      <ul>Costo: {{reporte.costo}}</ul>
      <ul>Encargado del escaneo: {{reporte.scanId}}</ul>

    </li>
  </div>

</div>
<button (click)="makePDF()">Descargar</button>
<app-footer></app-footer>